/** @format */

.add-part {
   form {

      .field {
         .image-input{
            border: none;
            margin: 50px 0;
         }
      }

      .title {
         font-weight: 600;
      }
      
      .categories {
         display: flex;
         flex-wrap: wrap;
         gap: 0px;
         margin: 0;
         padding: 0;

         .category {
            width: 70px;
            display: flex;
            align-items: center;
            gap: 0;
            margin: 0;
            padding: 0;
         }
      }

      .compartible-cars {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         margin-top: 20px;

         h2 {
            margin-bottom: 20px;
            font-weight: 700;
         }

         .search {
            border-bottom: 1px solid black;
            margin-bottom: 20px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;
            width: 90%;
            gap: 5px;

            input:focus {
               outline: none;
               width: 100%;
            }
         }

         .cars {
            display: flex;
            flex-direction: column;

            .field {
               display: flex;
               flex-direction: row;
               align-items: center;
               justify-content: space-between;
   


               .label {
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  font-size: 13px;
               }

               input {
                  height: 15px;
               }
            }
         }
      }
   }
}
