.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    @media (min-width: 768px) {
        padding: 40px 150px;
    }

    .logo {

        display: flex;
        align-items: center;
        gap: 10px;

        h1 {
            font-weight: 700;
            font-size: 24px;
        }

        img {
            width: 70px;
            border-radius: 50%;
        }
    }

    .nav-buttons {
        .cart-icon {
            font-size: 24px;
        }
    }
}