.navbar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 14px;

    @media (min-width: 768px) {
        font-size: 17px;
        padding: 20px 70px;
    }



    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        background: black;
        padding: 5px;
        border: 1px solid black;

        @media (min-width: 768px) {
            padding: 10px 50px;
        }

        .logo {
            width: 30%;

            @media (min-width: 768px) {
                width: 100px;
            }
        }

        .links {
            display: flex;
            align-items: center;
            gap: 10px;

            @media (min-width: 768px) {
                gap: 30px;
            }
        }
    }

    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid black;
        position: relative;
        padding: 5px;
        background: white;

        @media (min-width: 768px) {
            padding: 20px 70px;
        }

        .nav {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 5px;

            @media (min-width: 768px) {
                gap: 70px;
                flex-direction: row;
                .open-nav {
                    display: none;
                }
            }

            .nav-items {
                display: none;

                a {
                    transition: .3s ease-in;
                }

                a:hover {
                    color: orangered;
                }

                @media (min-width: 768px) {
                    display: flex;
                    align-items: center;
                    gap: 30px;

                    .close-nav {
                        display: none;
                    }
                }
            }

            .nav-items.active {
                position: absolute;
                top: 0;
                right: 0;
                background: black;
                width: fit-content;
                padding: 40px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 5px;
                color: white;
                height: 100vh;


                .close-nav {
                    display: inline;
                    position: absolute;
                    top: 0;
                    right: 3px;
                }
            }

            


            .socials {
                display: flex;
                gap: 5px;

                a {
                    color: orangered;
                }
                
                a:hover {
                    color: var(--darkRed);
                }

                @media (min-width: 768px) {
                    gap: 20px;   
                }
            }
        }
    }
    
}