.cart-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    border: 1px solid black;
    margin-bottom: 10px;

    .item,
    .actions {
        display: flex;
        align-items: center;

        img {
            width: 70px;
        }
    }

    .actions {
        gap: 20px;
        font-weight: 600;   
    }
}
