/** @format */

.select-car {
   background: black;
   color: orangered;
   padding: 20px 10px;

   @media (min-width: 768px) {
      padding: 50px 70px;
   }

   .heading {
      font-size: 20px;
      text-decoration: underline;
      text-transform: uppercase;
   }

   .instruction {
      color: var(--darkRed);
   }

   .cars-loading {
      margin: 20px 0;
   }

   .your-cars {
      padding: 20px 0;
      display: flex;
      gap: 10px;
      flex-direction: column;

      .car {
         display: flex;
         gap: 10px;
         flex-wrap: wrap;
         margin-bottom: 10px;
         cursor: pointer;
         padding: 5px;
         width: fit-content;
         transition: border  .3s ease-in;

         .delete {
            color: var(--darkRed);
            border: none;
            transition: .3s ease-in;
         }

         .delete:hover {
            color: orangered;
            transform: translateY(-2px);
         }
      }

      .car.selected {
         border: 1px solid orangered;
         border-radius: 5px;
      }
   }

   .new-car {
      .selected-car {
         h1 {
            color: var(--darkRed);
            font-weight: 500;
            margin-bottom: 10px;
         }

         div {
            display: flex;
            gap: 10px;
            margin-bottom: 20px;
            color: white;

            .submit {
               button {
                  background: var(--darkRed);
                  color: white;
                  padding: 1px 10px;
               }

               button:hover {
                  border: 1px solid orangered;
               }
            }
         }
      }

      .spec {
         margin-bottom: 20px;
         .category-heading {
            text-transform: uppercase;
            color: var(--darkRed);
            margin-bottom: 5px;
         }

         @media (min-width: 768px) {
            width: 50%;
         }
      }
   }

   .choices {
      display: flex;
      gap: 10px;
      margin-left: 10px;

      .choice {
         cursor: pointer;
      }

      .selected {
         color: white;
         margin: 0;
         padding: 0;
      }
   }
}
