.parts {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(15, 15, 15);
    gap: 20px;
    
    @media (min-width: 450px) {
       
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }

    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;
        place-items: center;
    }
}