/** @format */

.category-parts {
   background: black;
   color: white;

   .navbar {
      color: black;
   }

   .title {
      padding: 20px 10px;
      color: var(--darkRed);
      font-size: 20px;
      font-weight: 700;

      @media (min-width: 768px) {
         padding: 20px 70px;
         font-size: 24px;
      }
   }

   .parts {
      .part {
         color: black;
      }
   }
}
